/* Default styling for the banner image */
img {
  width: 100%; /* Make the image take up the full width of the container */
  height: auto; /* Height for larger screens */
  position: relative;
  margin-top: 50px;
  cursor: pointer;
  
}

/* Mobile-specific styles */
@media screen and (max-width: 768px) {
  .men-banner img {
    height: 100%;
    margin-top: 0%;
    padding-top: 0%; /* Reduced height for mobile devices */
    cursor: pointer;
  }
}

/* For very small mobile screens (optional) */
@media screen and (max-width: 480px) {
  .men-banner img{
    height: 100%;
    margin-top: 0%;
    padding-top: 0%;
    cursor: pointer;
    /* Further reduced height for very small screens */
  }
}
